<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
{% load static %}
  <head>
    {% include 'includes/head.html' %}
    <title>{% block title %}SupaDupaFly{% endblock %}</title>
  </head>

  <body>
  <div style= 'background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);;'>
    {% include 'includes/nav.html' %}
    <main>
      <div class="container">
      <h1>{% block header %}{% endblock %}</h1>
        {% block content %}
          <!-- Содержимое страницы -->
        {% endblock content %}        
      </div>
    </main>
    {% include 'includes/footer.html' %}
  </div>
  </body>
</html>